<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Projects Page</title>
         <!-- CSS Files-->
        <link rel="stylesheet" type="text/css" href="../styles/crow.css">
        <link rel="stylesheet" type="text/css" href="../styles/w3.css">
        <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/xterm.css" />
        <!-- JavaScript Files-->
        <script src="../scripts/xterm.min.js"></script>
        <script type="text/JavaScript" src="../scripts/jquery.min.js"></script>
        <script src="../styles/bootstrap.min.js"></script>
        <script type="text/JavaScript" src="../scripts/csprojects.js"></script>
        <link rel="shortcut icon" href="../images/Favicon.ico"> <!-- Favicon.ico image file-->
    </head>

    <body>
        <header class="mobile" >
            <div class="mobile">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <div class="chaletFont1">
                            <a class="mobile" style="color: white" href="/">DAVID YARANON</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row w3-center">
                    <div class="w3-col s12">
                        <div class="chaletFont0">
                            <a href="/">HOME</a> &nbsp; 
                            <a href="csprojects.html">CS PROJECTS</a> &nbsp;&nbsp;
                            <a href="more.html">MORE</a> &nbsp;
                        </div>
                     </div>
                </div>
            </div>   
        </header>
        <header class="mobile2" >
            <div class="mobile2">
                <div class="w3-row">
                    <div class="w3-col s12 w3-center">
                        <div class="chaletFont1">
                            <a class="mobile2" style="color: white" href="/">DAVID YARANON</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row w3-center">
                    <div class="w3-col s12">
                        <div class="chaletFont0">
                            <a href="/">HOME</a> &nbsp; 
                            <a href="csprojects.html">CS PROJECTS</a> &nbsp;&nbsp;
                            <a href="more.html">MORE</a> &nbsp;
                        </div>
                     </div>
                </div>
            </div>   
        </header>
        <header class="desktop">
            <div class="desktop">
                <div class = "container">
                    <div class="w3-row-padding" style="padding-top: 10px;">
                        <div class="w3-col s6">
                            <div class="chaletFont1">
                                <a style="color: white" href="/">DAVID YARANON</a>
                            </div>
                        </div>
                         <div class="w3-col s6" style="text-align: right;">
                            <div class="chaletFont0">
                                <a href="/">HOME</a> &nbsp;
                                <a href="csprojects.html">CS PROJECTS</a> &nbsp; 
                                <a href="more.html">MORE</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>   
        </header>
        
        <div id="projects">
            <div class="chaletFont2" style="text-align: center;">PROJECTS</div>
        </div>
        
        <div class="container" style="text-align: center;">
            <p1 class = "chaletFont3" style="text-align: center;" id="test">
            I have all of my projects on my github linked <a href="https://www.github.com/dyaranon" target="blank">here</a>,
            and a virtual terminal where you can run some code!
            </p1>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <div id="terminal"></div>
        </div>
        



      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer>
        <div class="container" >
            <div class="row" style="height: 100px;">
                <div class = "col-sm">
                    <a href="http://www.github.com/dyaranon" target="blank">
                        <img src="../images/github-logo.png" style="height: 100px; width: 100px;">
                    </a>
                    <p5 class="chaletFontp1">GITHUB</p5>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/david-yaranon-06140019a/" target="blank">
                        <img src="../images/linkedin-logo.png" id="images">
                    </a>
                    <p5 class="chaletFontp1">LINKEDIN</p5>
                </div>
                <div class="col-sm">
                    <a href="https://ucmerced.box.com/s/vzzmsxgvkmu6sf6w7g4edjoz3a0eju50" target="blank">
                        <img src="../images/resume-picture.png" id="images">
                    </a>
                    <p5 class="chaletFontp1">RESUME</p5>
                </div>
                <div class="col-sm">
                    <a href="https://www.instagram.com/davidyaranon/" target="blank">
                        <img src="../images/instagram-logo.png" id="images">
                    </a>
                    <p5 class="chaletFontp1">INSTAGRAM</p5>
                </div>
            </div>
        </div>
    </footer>    
    <br><br>
    <footer style="text-align: center;">&copy; Copyright 2021 David Yaranon</footer>
    <br>
    </body>




</html>

